@use "./base/clearDefault" as *;
@use "./base/colors" as colors;
@use "./base/typography" as *;

body {
    background-color: colors;
    color: colors.$accent-200;
    font-family: text, sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.addButton {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100%;
    border: none;
    background-color: colors.$bg-300;
    color: colors.$text-100;
    font-size: 1.5rem;
    display: grid;
    place-items: center;
    cursor: pointer;
}