@use "./base/clearDefault" as *;
@use "./base/colors" as colors;
@use "./base/typography" as *;

body {
    background-color: colors;
    color: colors.$accent-200;
    font-family: text, sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}